<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Share News</title>
    <link rel="stylesheet"  th:href="@{/styles/forgotpassword.css}"  />
    <link rel="stylesheet"  th:href="@{/styles/common.css}"  />
    <link rel="stylesheet"  th:href="@{/styles/navbar.css}"  />
    <script defer src="/js/navbar.js"></script>

</head>
<body>

<div id="ForgotPassPage">

    <div th:replace="fragments/NavBar"></div>

    <main class="Main">
        <div class="ImageDiv"></div>

        <div class="FormDiv">

            <form  th:action="@{/forgotPassword}" method="post" >

                <p class="TextDanger" th:if="${ErrorMessage}" th:text="${ErrorMessage}"></p>

                <p  th:if="${SuccessMessage}" class="SuccessMessage" th:text="${SuccessMessage}"></p>

                <label class="FormTitle" th:unless="${SuccessMessage != null OR ErrorMessage != null }">
                    Enter your email, we'll send you a password reset link
                </label>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>

                <button type="submit">Submit</button>
            </form>

        </div>
    </main>

</div>



</body>
</html>