<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Share News</title>
    <link rel="stylesheet"  th:href="@{/styles/resetpassword.css}"  />
    <link rel="stylesheet"  th:href="@{/styles/common.css}"  />
    <link rel="stylesheet"  th:href="@{/styles/navbar.css}"  />
    <script defer src="/js/navbar.js"></script>

    <script>
        const resetPasswordFormHandler = (event) =>{

            const newPassword= document.getElementById("password").value;
            const confirmPassword= document.getElementById("confirmPassword").value;

            if(newPassword !== confirmPassword){
                event.preventDefault();
                return document.getElementById("error").innerText = " (Passwords don't match)";
            }

            if(newPassword.length < 6){
                event.preventDefault();
                return document.getElementById("error").innerText = " ( Too short)";
            }
        }
    </script>

</head>
<body>

<div id="ForgotPassPage">

    <div th:replace="fragments/NavBar"></div>

    <main class="Main">
        <div class="ImageDiv"></div>

        <div class="FormDiv">

            <form  th:action="@{/resetPassword/{token}( token = ${pathVar})}" method="post" onsubmit="resetPasswordFormHandler(event)" >

                <p class="TextDanger" th:if="${ErrorMessage}" th:text="${ErrorMessage}">fdf</p>

                <p  th:if="${SuccessMessage}" class="SuccessMessage" th:text="${SuccessMessage}"></p>

                <label class="FormTitle" th:unless="${SuccessMessage != null OR ErrorMessage != null }">
                   Reset Password <b class="TextDanger" id="error"></b>
                </label>

                <label for="password">New Password</label>
                <input type="password" name="password" id="password" required >

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required >

                <button type="submit">Submit</button>
            </form>

        </div>
    </main>

</div>



</body>
</html>