:root{
    --font-family: "Courier New";
    --bold: bold;
    --login-registration-back-color: #fff;
    --radius: 50px;
    --app-color:purple;
}

#RegisterPage{
    height: 100vh;
    display: grid;
    grid-template-areas:"nav nav"
    "main main";
    grid-template-rows: 10% 90%;
    /*    background color to cover up white space before ImageDiv loads*/
    background-color: #272727;
}

.Nav{
    grid-area: nav;
    background-color: rgba(100,0,100,1);
}
.Main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

/*nav*/

.NavGrid{
    display: grid;
    grid-template-areas: "a b c d e f g h i";
    padding-top: 1.2em;
}

/*main*/
.ImageDiv{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ImageDiv:after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}

.FormDiv{
    z-index: 10;
    background-color: white;
    height: 70%;
    box-shadow: 1px 2px 3px 3px rgba(255,255,255,0.3);
    transform: skew(10deg);
    transition: transform 1s ease-out;
    width: 60%;
    margin:auto;

}

.FormDiv:hover{
    transform:skewX(15deg) ;
}

.FormDiv form{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 1.2em auto auto auto;
    /*    top left bottom right*/
}

input{
    border: 2px solid #c74a94;
    padding: 10px;
    border-radius: var(--radius);
    margin: 8px;
}

input:focus{
    border: 3px solid var(--app-color);
    outline: none;
    box-shadow: none;
}

.FormDiv button{
    background-color: var(--app-color);
    border-radius: var(--radius);
    padding: 10px;
    border: purple;
    color: white;
    margin-top: 20px ;
    margin-bottom: 10px;
    box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.5) ;
    outline: none;
}

.FormDiv label{
    align-self: flex-start;
}
.FormDiv p{
    align-self: center;
    margin-top: 0;
}


@media screen and (min-width: 700px){
    .FormDiv{
        width: 40%;
        transform: skew(15deg);
    }

    .FormDiv form{
        width: 80%;
    }

    .FormDiv:hover{
        transform:skewX(20deg) ;
    }

}






